{% extends "layout.html" %}

{% block content %}

<script>
    let materials = {{materials|tojson}} 
    console.log(materials)
    let tools = {{tools|tojson}} 
    console.log(tools)
    let page = {{page|tojson}} 
    console.log(page)
    let id = {{id|tojson}} 
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'learn_materials.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'learn_materials.css') }}">
<div class='container'>
    <div class='row padded'>
        <div class='col'>
            <div id='section' class=''></div>
        </div>
    </div>
    <div class='row' id='materials'>
        
    </div>
    <div class='row'>
        <div class='col-md-3' id='backbutton'> </div>
        <div class='col-md-6'> </div>
        <div class='col-md-3' id='nextbutton'> </div>
    </div>
    
</div>

{% endblock %}
