{% extends "layout.html" %}
{% block content %}

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<style>
    .header{
        background-color: lightgrey;
        font-size: 35;
        padding: 70px 20px;
    }
    .drop_zone{
        background-color: lightblue;
        font-size: 20;
        font-weight: bold;
        padding: 15px;
    }
    .person{
        border: 1px solid black;
        cursor: move;
        background-color: white;
    }
    .person:hover{
        background-color: lightyellow;
    }
    .ui-draggable-dragging{
        background-color: lightyellow;
        z-index: 100;
    }
    .ui-droppable-active{
        background-color: rgb(145, 183, 196);
    }
    .ui-droppable-hover{
        background-color: rgb(110, 137, 146);
    }
</style>
</head>
<body>
<div class="container">

    <br>
    <div class="row">
        <div class="col-md-4">
            <div>
                <h2>Quiz: Make a Classic {{data[id].title}}</h2>
            </div>
            <div>
                <h2>Level 1</h2></br>
                <div>How well do you know your ingredients?</div>
            </div>
            <div>
                <h2>Instructions</h2><br>
                <div>Click images to drag and drop the correct ingredients into the glass</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="drop_zone" id="nppc_drop">Ingriedients</div>
            <div id="ppc"></div>
        </div>
        <div class="col-md-4">
            <div class="drop_zone" id="ppc_drop">Glass</div>
            <div id="non_ppc"></div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
<button type="button" id="checkButton">Check</button>

<div>
</div>
<div>
</div>


<!--
<div class="container">
    <div class="row">


        <div class="col-md-4">
            <div class="drop_zone" id="nppc_drop">Ingredients</div>
            {% for ingredients in data[id].ingredients %}
            <div><img src={{ingredients.img}} ></div>
            {% endfor %}

        </div>
        <div class="col-md-4" >
            <div class="drop_zone" id="ppc_drop">Glass</div>
            <div id="non_ppc">Test</div>
        </div>




        TODO: PUT THE APPROPRIATE ID'S SO WE KNOW DRAG AND DROP ZONE
         -->
        <!-- <div>
    <div class="row">
        <div class="col-md-2">
            <div class="drop_zone" id="nppc_drop">Ingredients</div>
            <div id="ppc"></div>
        </div>
        <div class="col-md-2">
            <div class="drop_zone" id="ppc_drop">Glass</div>
            <div id="non_ppc"></div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
</div> -->
    </div>
</div>
<button type="button" id="doneButton">Done</button>
</body>
</html>

{% endblock %}
